@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inter-light";
  src: url(/public/fonts/Inter/static/Inter-Light.ttf) format(ttf);
}
@font-face {
  font-family: "inter-regular";
  src: url(/public/fonts/Inter/static/Inter-Regular.ttf) format(ttf);
}
@font-face {
  font-family: "inter-medium";
  src: url(/public/fonts/Inter/static/Inter-Medium.ttf) format(ttf);
}
@font-face {
  font-family: "inter-bold";
  src: url(/public/fonts/Inter/static/Inter-Bold.ttf) format(ttf);
}
@font-face {
  font-family: "inter-extraBold";
  src: url(/public/fonts/Inter/static/Inter-ExtraBold.ttf) format(ttf);
}

body {
  font-family: "inter-regular";
}
